@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);
/* Helper classes
========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after,
.container:after {
  clear: both; }

.clearfix,
.container {
  *zoom: 1; }

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.topnav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  height: 50px;
  position: fixed;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f7f7f7+100 */
  background: #f9f9f9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f7f7f7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #f7f7f7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f7f7f7',GradientType=0 );
  /* IE6-8 */
  -webkit-box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75); }
  .topnav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    display: table;
    list-style: none; }
    .topnav ul li {
      height: 50px;
      text-align: center;
      display: table-cell;
      vertical-align: top; }
      .topnav ul li a {
        width: 100%;
        color: #252525;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        padding: 15px 10px;
        text-decoration: none;
        display: inline-block; }
        .topnav ul li a:hover {
          color: #fff;
          background-color: #3681c4; }

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 26px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  background: #4894da;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4OTRkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZGFmZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #4894da 0%, #5daffa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4894da), color-stop(100%, #5daffa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4894da 0%, #5daffa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4894da 0%, #5daffa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4894da 0%, #5daffa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4894da 0%, #5daffa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4894da', endColorstr='#5daffa',GradientType=0 );
  /* IE6-8 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 40, 76, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 40, 76, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 40, 76, 0.75); }
  .btn:hover {
    color: #fff;
    text-decoration: none;
    background: #4894da; }
  .btn:active {
    top: 1px; }

.btn-large {
  padding: 15px 26px; }

label {
  font-weight: 400; }

.form-main {
  color: #fff;
  width: 823px;
  height: 390px;
  margin: 0 auto;
  padding: 50px 20px;
  background: url("../img/form_bg.png") top center no-repeat; }
  .form-main .form-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase; }
  .form-main ul {
    padding: 0;
    width: 500px;
    margin: 0 auto;
    list-style: none; }
  .form-main li {
    float: left;
    width: 250px;
    padding: 0 25px;
    position: relative;
    margin-bottom: 30px; }
    .form-main li:before {
      top: 8px;
      left: 0;
      width: 20px;
      height: 23px;
      content: " ";
      position: absolute;
      background: url("../img/pattern.png") no-repeat; }
    .form-main li.item1:before {
      background-position: -100px 0; }
    .form-main li.item2:before {
      background-position: -120px 0; }
    .form-main li.item3:before {
      background-position: -140px 0; }
    .form-main li.item4:before {
      background-position: -160px 0; }

.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  display: block;
  color: #818080;
  font-size: 15px;
  font-weight: 400;
  background: #fff;
  line-height: 20px;
  padding: 9px 10px;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 40, 76, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 40, 76, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(0, 40, 76, 0.75); }
  .form-control::-moz-placeholder {
    color: #818080;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #818080; }
  .form-control::-webkit-input-placeholder {
    color: #818080; }

.red .form-control {
  border-color: #ff0000; }

.modal-box {
  width: 400px;
  color: #fff;
  padding: 30px 30px 30px 20px;
  background: #08519d; }
  .modal-box .form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .modal-box .form-group {
    position: relative;
    margin-bottom: 25px;
    padding-left: 25px; }
    .modal-box .form-group:before {
      top: 8px;
      left: 0;
      width: 20px;
      height: 23px;
      content: " ";
      display: none;
      position: absolute;
      background: url("../img/pattern.png") no-repeat; }
    .modal-box .form-group.form-name:before {
      display: block;
      background-position: -100px 0; }
    .modal-box .form-group.form-tel:before {
      display: block;
      background-position: -120px 0; }
    .modal-box .form-group.form-city:before {
      background-position: -140px 0; }

.done {
  width: 400px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 30px 30px 30px 20px;
  background: #08519d; }
  .done .done-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; }

.b01 {
  height: 735px;
  background: url("../img/b01_bg.jpg") top center no-repeat; }
  .b01 .logo {
    top: 30px;
    left: 15px;
    width: 153px;
    height: 90px;
    position: absolute;
    background: url("../img/logo.png") 0 0 no-repeat; }
  .b01 .contact {
    right: 15px;
    top: 40px;
    text-align: right;
    position: absolute; }
  .b01 .tel {
    color: #3a3a3a;
    font-size: 23px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 5px; }
  .b01 h1 {
    padding-top: 155px;
    margin-bottom: 290px; }
  .b01 .text {
    color: #252525;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    margin-bottom: 75px; }
    .b01 .text span {
      position: relative;
      display: inline-block; }
      .b01 .text span:before {
        top: 3px;
        left: -45px;
        width: 30px;
        height: 23px;
        content: " ";
        position: absolute;
        background: url("../img/pattern.png") 0 0 no-repeat; }
      .b01 .text span:after {
        top: 8px;
        right: -45px;
        width: 30px;
        height: 23px;
        content: " ";
        position: absolute;
        background: url("../img/pattern.png") -30px 0 no-repeat; }

.b02 {
  padding: 60px 0;
  background: #b1e3fb;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IxZTNmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2QyZmZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2ZmZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #b1e3fb 0%, #d2fff6 50%, #dcfff8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1e3fb), color-stop(50%, #d2fff6), color-stop(100%, #dcfff8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b1e3fb 0%, #d2fff6 50%, #dcfff8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b1e3fb 0%, #d2fff6 50%, #dcfff8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b1e3fb 0%, #d2fff6 50%, #dcfff8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b1e3fb 0%, #d2fff6 50%, #dcfff8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1e3fb', endColorstr='#dcfff8',GradientType=0 );
  /* IE6-8 */ }
  .b02 .white-box {
    width: 820px;
    font-size: 18px;
    margin: 0 auto 60px auto;
    padding: 30px 20px 10px 20px;
    background: #f9f9f9;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f7f7f7));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%, #f7f7f7 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f7f7f7',GradientType=0 );
    /* IE6-8 */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
    box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75); }
  .b02 h2 {
    color: #080808; }
  .b02 .b02-image {
    height: 290px;
    background: url("../img/b02_img.png") top center no-repeat; }
  .b02 .right-line {
    color: #000;
    font-size: 16px;
    padding-left: 15px;
    border-left: 5px solid #beefe8; }

.b03 {
  padding: 60px 0;
  background: #fff; }
  .b03 h2 {
    color: #095fac;
    margin-bottom: 50px; }
  .b03 .properties {
    padding: 0;
    width: 880px;
    display: table;
    margin: 0 auto;
    list-style: none; }
    .b03 .properties .properties-title {
      z-index: 10;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .b03 .properties .properties-text {
      z-index: 10;
      font-size: 14px;
      font-weight: 300; }
    .b03 .properties li {
      width: 50%;
      height: 160px;
      padding: 0 30px;
      overflow: hidden;
      position: relative;
      display: table-cell;
      vertical-align: middle; }
      .b03 .properties li:before {
        top: 50%;
        left: 40px;
        z-index: 50;
        width: 60px;
        height: 90px;
        content: " ";
        margin-top: -45px;
        position: absolute;
        background: url("../img/pattern.png") no-repeat; }
      .b03 .properties li .properties-box {
        padding: 20px 20px 20px 90px; }
      .b03 .properties li.item1 .properties-box {
        background: #f9f9f9; }
      .b03 .properties li.item1:before {
        background-position: 0 -30px; }
      .b03 .properties li.item2:before {
        background-position: -60px -30px; }
      .b03 .properties li.item3:before {
        background-position: -120px -30px; }
      .b03 .properties li.item4 .properties-box {
        background: #f9f9f9; }
      .b03 .properties li.item4:before {
        background-position: -180px -30px; }
      .b03 .properties li.item5 .properties-box {
        background: #f9f9f9; }
      .b03 .properties li.item5:before {
        background-position: -240px -30px; }
      .b03 .properties li.item6:before {
        background-position: -300px -30px; }
      .b03 .properties li.item7:before {
        background-position: 0 -120px; }
      .b03 .properties li.item8 .properties-box {
        background: #f9f9f9; }
      .b03 .properties li.item8:before {
        background-position: -60px -120px; }
      .b03 .properties li.item9 .properties-box {
        background: #f9f9f9; }
      .b03 .properties li.item9:before {
        background-position: -120px -120px; }
      .b03 .properties li.item10:before {
        background-position: -180px -120px; }
      .b03 .properties li.item11:before {
        background-position: -240px -120px; }
      .b03 .properties li.item12 .properties-box {
        background: #f9f9f9; }
      .b03 .properties li.item12:before {
        background-position: -300px -120px; }

.b04 {
  height: 730px;
  padding-top: 60px;
  background: url("../img/b04_bg.jpg") top center no-repeat; }
  .b04 h2 {
    margin-bottom: 50px; }

.b05 {
  padding-top: 10px;
  padding-bottom: 60px; }
  .b05 h2 {
    margin-bottom: 50px; }
  .b05 .application {
    padding: 0;
    width: 880px;
    list-style: none;
    margin: 0 0 20px 0; }
    .b05 .application li {
      float: left;
      width: 220px;
      height: 210px; }
      .b05 .application li:first-child {
        padding-top: 50px;
        background: url("../img/b05_item_bg1.png") left bottom no-repeat; }
    .b05 .application .application-head {
      color: #fff;
      width: 100%;
      height: 160px;
      display: table;
      font-size: 18px;
      font-weight: 700;
      text-align: center; }
      .b05 .application .application-head span {
        width: 100%;
        height: 160px;
        display: table-cell;
        vertical-align: middle; }
    .b05 .application .application-title {
      width: 100%;
      height: 50px;
      display: table;
      color: #080808;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase; }
      .b05 .application .application-title span {
        width: 100%;
        height: 50px;
        display: table-cell;
        vertical-align: middle; }
    .b05 .application.application-right {
      margin-left: 60px; }
      .b05 .application.application-right li:first-child {
        background: url("../img/b05_item_bg2.png") left bottom no-repeat; }
  .b05 .divider {
    width: 100%;
    height: 40px; }

.b06 {
  color: #fff;
  height: 530px;
  padding: 60px 0;
  background: url("../img/b06_bg.jpg") top center no-repeat; }
  .b06 h2 {
    margin-bottom: 50px; }
  .b06 .certification {
    padding: 0;
    margin: 0 -10px;
    list-style: none; }
    .b06 .certification li {
      float: left;
      width: 220px;
      margin: 0 10px; }

.b07 {
  padding: 60px 0;
  background: #fcfcfc; }
  .b07 h2 {
    margin-bottom: 50px; }
  .b07 .vendor {
    text-align: center; }
    .b07 .vendor li {
      padding: 0 40px;
      margin-bottom: 40px;
      display: inline-block; }
  .b07 .text {
    color: #4c9ae1;
    font-size: 20px;
    font-style: italic; }

.b08 {
  padding: 60px 0;
  background: #fff; }
  .b08 h2 {
    margin-bottom: 50px; }
  .b08 .product {
    width: 870px;
    margin: 0 auto;
    padding-bottom: 60px; }
    .b08 .product li {
      float: left;
      width: 200px;
      height: 260px;
      padding: 20px;
      text-align: center;
      background: #f9fafa;
      margin: 0 45px 70px 45px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
      -moz-box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
      box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75); }
    .b08 .product .product-name {
      color: #2e2e2e;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .b08 .product .product-image {
      margin-bottom: 25px; }
    .b08 .product .btn {
      width: 100%;
      display: block; }
  .b08 .form-main {
    height: 560px;
    margin-top: -10px;
    margin-bottom: 40px;
    background: url("../img/b08_form_bg.png") top center no-repeat; }
  .b08 .row {
    margin-top: -15px; }
    .b08 .row .col-left {
      float: left;
      width: 380px;
      padding-right: 40px; }
    .b08 .row .col-right {
      float: right;
      width: 560px; }

.b09 {
  height: 540px;
  padding-top: 60px;
  background: url("../img/b09_bg.jpg") top center no-repeat; }
  .b09 h2 {
    margin-bottom: 50px; }
  .b09 .advantage {
    margin-bottom: 60px; }
    .b09 .advantage li {
      width: 20%;
      float: left;
      color: #2e2e2e;
      font-size: 13px;
      text-align: center;
      position: relative;
      padding: 70px 15px 0 15px; }
      .b09 .advantage li:before {
        top: 0;
        left: 50%;
        width: 60px;
        height: 60px;
        content: " ";
        margin-left: -30px;
        position: absolute;
        background: url("../img/pattern.png") no-repeat; }
      .b09 .advantage li.item1:before {
        background-position: 0 -210px; }
      .b09 .advantage li.item2:before {
        background-position: -60px -210px; }
      .b09 .advantage li.item3:before {
        background-position: -120px -210px; }
      .b09 .advantage li.item4:before {
        background-position: -180px -210px; }
      .b09 .advantage li.item5:before {
        background-position: -240px -210px; }
  .b09 .text-box {
    color: #2e2e2e;
    margin: 0 60px;
    font-size: 16px;
    padding: 30px 40px;
    background: rgba(255, 255, 255, 0.7); }

.b10 {
  padding: 60px 0;
  background: #fdfdfd; }
  .b10 .form-main {
    background: url("../img/b10_form_bg.png") top center no-repeat; }

.b11 h2 {
  text-align: left; }
.b11 .map-block {
  width: 50%;
  float: left;
  position: relative; }
.b11 #map {
  height: 275px; }
.b11 .contact-block {
  width: 50%;
  float: right;
  height: 275px;
  padding-top: 70px;
  padding-left: 80px;
  background: #f8f8f8; }
.b11 .address {
  font-size: 18px; }

.footer {
  color: #2e2e2e;
  font-size: 15px;
  padding: 25px 0;
  background: #fff;
  font-weight: 600; }
  .footer .col {
    float: left;
    width: 33.33%; }
  .footer .one {
    font-weight: 700;
    text-transform: uppercase; }
  .footer .tel {
    font-size: 20px;
    font-weight: 600; }
  .footer .contact-email {
    font-size: 18px;
    color: #4897df;
    text-decoration: none; }
  .footer .dev a {
    color: #4897df;
    text-decoration: none; }

/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
button,
input,
select,
textarea {
  color: #252525; }

body {
  font-size: 14px;
  background: #fff;
  padding-top: 50px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 970px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 700; }

h1 {
  color: #3a3a3a;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase; }

h3 {
  color: #3780c5;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase; }

p {
  padding: 0;
  margin: 0 0 20px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-blue {
  color: #3681c5;
  font-weight: 600;
  font-style: italic; }

.text-small {
  font-size: 10px;
  padding-top: 10px; }

/*# sourceMappingURL=main.css.map */
