.btn {
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 26px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;

    background: #4894da; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4OTRkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZGFmZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #4894da 0%, #5daffa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4894da), color-stop(100%,#5daffa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4894da 0%,#5daffa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4894da 0%,#5daffa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4894da 0%,#5daffa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4894da 0%,#5daffa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4894da', endColorstr='#5daffa',GradientType=0 ); /* IE6-8 */

    @include border-radius(3px);
    @include box-shadow(0px 1px 1px 0px rgba(0, 40, 76, 0.75));

    &:hover {
        color: #fff;
        text-decoration: none;
        background: #4894da;
    }

    &:active {
        top: 1px;
    }
}

.btn-large {
    padding: 15px 26px;
}

label {
    font-weight: 400;
}

.form-main {
    color: #fff;
    width: 823px;
    height: 390px;
    margin: 0 auto;
    padding: 50px 20px;
    background: url("../img/form_bg.png") top center no-repeat;

    .form-title {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    ul {
        padding: 0;
        width: 500px;
        margin: 0 auto;
        list-style: none;
    }

    li {
        float: left;
        width: 250px;
        padding: 0 25px;
        position: relative;
        margin-bottom: 30px;

        &:before {
            top: 8px;
            left: 0;
            width: 20px;
            height: 23px;
            content: " ";
            position: absolute;
            background: url("../img/pattern.png") no-repeat;
        }

        &.item1 {
            &:before {
                background-position: -100px 0;
            }
        }

        &.item2 {
            &:before {
                background-position: -120px 0;
            }
        }

        &.item3 {
            &:before {
                background-position: -140px 0;
            }
        }

        &.item4 {
            &:before {
                background-position: -160px 0;
            }
        }
    }
}

.form-control {
    margin: 0;
    width: 100%;
    outline: none;
    display: block;
    color: #818080;
    font-size: 15px;
    font-weight: 400;
    background: #fff;
    line-height: 20px;
    padding: 9px 10px;
    border: 1px solid #fff;

    @include border-radius(3px);
    @include box-shadow(0px 1px 1px 0px rgba(0, 40, 76, 0.75));
    @include placeholder(#818080);
}

.red .form-control {
    border-color: #ff0000;
}

.modal-box {
    width: 400px;
    color: #fff;
    padding: 30px 30px 30px 20px;
    background: #08519d;

    .form-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .form-group {
        position: relative;
        margin-bottom: 25px;
        padding-left: 25px;

        &:before {
            top: 8px;
            left: 0;
            width: 20px;
            height: 23px;
            content: " ";
            display: none;
            position: absolute;
            background: url("../img/pattern.png") no-repeat;
        }


        &.form-name {

            &:before {
                display: block;
                background-position: -100px 0;
            }
        }

        &.form-tel {
            &:before {
                display: block;
                background-position: -120px 0;
            }
        }

        &.form-city {
            &:before {
                background-position: -140px 0;
            }
        }
    }
}

.done {
    width: 400px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 30px 30px 30px 20px;
    background: #08519d;

    .done-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
}