@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

@import "mixin";
@import "topnav";
@import "form";
@import "block01";
@import "block02";
@import "block03";
@import "block04";
@import "block05";
@import "block06";
@import "block07";
@import "block08";
@import "block09";
@import "block10";
@import "block11";
@import "footer";

/* Base styles
   ========================= */

* {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #252525;
}

body {
    font-size: 14px;
    background: #fff;
    padding-top: 50px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 970px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}


h1 {
    color: #3a3a3a;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}


h3 {
    color: #3780c5;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

p {
    padding: 0;
    margin: 0 0 20px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text-blue {
    color: #3681c5;
    font-weight: 600;
    font-style: italic;
}

.text-small {
    font-size: 10px;
    padding-top: 10px;
}


